body {
    background-image: url(assets/Captura\ de\ tela\ 2026-04-08\ 081105.png); 

    font-family: Arial;
}


h1 {
    text-align: center;
    
}


form {
    width: 300px;
    margin: auto;
}


input, select, textarea {
    width: 100%;
    margin-bottom: 10px;
}


button {
    width: 100%;
}