body {
    background-image: url(assets/Captura\ de\ tela\ 2026-04-08\ 081105.png); 

    font-family: Arial;
}


h1 {
    text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formAdocao {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    margin: 30px auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


form {
    width: 300px;
    margin: auto;
}


input, select, textarea {
    width: 100%;
    margin-bottom: 10px;
}


button {
    width: 100%;
}

.titulo {
    display: block;
    margin: 0 auto;
    text-align: center;
}


#cachorrodan{

 width: 300px;
  height: 250px;

}
#titulofofo{

    width: 300px;
  height: 250px;
}
